<% layout('./layouts/page') %> 
<% block('title', 'Freshshop - Gallery') %>

<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2>Services</h2>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active">Services</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- End All Title Box -->

<!-- Start Gallery  -->
<div class="products-box">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="title-all text-center">
                  <h1>Our Gallery</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="special-menu text-center">
                  <div class="button-group filter-button-group">
                      <button class="active" data-filter="*">All</button>
                      <button data-filter=".bulbs">Bulbs</button>
                      <button data-filter=".fruits">Fruits</button>
        <button data-filter=".podded-vegetables">Podded vegetables</button>
        <button data-filter=".root-and-tuberous">Root and tuberous</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="row special-list">
        <% products.forEach(el => { %>
            <div class="col-lg-3 col-md-6 special-grid <%= el.product_type %> ">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale"><%= el.product_name %>: <%= el.price %>$  </p>
                        </div>
                        <img src="<%= el.image %> " class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <form id="<%= el.product_name %> " action="/api/add-to-card" method="POST">
                                <input type="hidden" name="id_product" value="<%= el._id %>">
                                <input type="hidden" name="id_price" value="<%= el.price %>">
                                <a class="cart" href="javascript:{}" onclick="document.getElementById('<%= el.product_name %> ').submit();">Add to Cart</a> 
                            </form>
                                                       
                        </div>
                    </div>
                </div>
            </div>
        <% }) %> 
      </div>
  </div>
</div>
<!-- End Gallery  -->